.hotel-details {
    /*background: #cbcbcb42;*/
    /*padding: 10px;*/
}

.hotel-details h3 {
    margin: 0 0 2px;
    color: #333;
    letter-spacing: .4px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}
.hotel-details small {
    display: block;
    font-size: 13px;
    color: #333;
}
.hotel-details small a{
  color: #0a85c1;
}

.wish-heart .fa-heart,.wish-heart .fa-pencil {
    width: 40px;
    height: 35px;
    line-height: 36px;
    /*background: #ff5047;*/
    /*color: #fff;*/
    text-align: center;
    font-size: 20px;
    margin-top: 13px;
    cursor: pointer;
}
.price-details{
    text-align: right;
    display: inline-block;
    float: right;
    margin-left: 10px;
}
.price-details .book-btn {
    padding: 12px 15px;
    background: #0a85c1;
    border-color: #0a85c1;
}
.price-details .book-btn:hover {
  background: #2d6399;
  border-color: #2d6399;
}

.price-details .price-tag small {
    font-size: 13px;
    display: block;
}
.price-details .price-tag small:first-child {
  display: inline-block;
}
.price-tag, .price-tag i {
  margin: 0;
  color: #333;
  font-size: 20px;
}
.green{
  color: #098f2c;
}
.rooms_loop {
    background: #fff;
    padding: 15px;
    position: relative;
    border-bottom: 1px dashed #ddd;
}
.villa-details-section .rooms_loop {
  border-bottom: none;
}
.avail_rooms .rooms_loop:last-child{
  border-bottom: none;
}
.avail_rooms{
  border-bottom: 1px solid #ddd;
}
.avail_rooms .rooms_loop.activeone {
    /*border: 1px dashed #7db921 !important;*/
    margin: 15px;
}
.rooms_loop:before,.rooms_loop:after{
  content: '';
  display: table;
}
.rooms_loop:after{
  clear: both;
}
.rooms_loop h5 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 2px;
    /* text-transform: uppercase; */
    font-weight: 600;
    color: #333;
}
.rooms_loop ul{
  margin-bottom: 0;
  /*margin-left: 20px;*/
  color: #333;
}
.rooms_loop ul li{
  list-style: none;
}
.rooms_loop ul li i{
  color: #098f2c;
}
.villa-details .rooms_loop ul li {
  display: inline-block;
  color: #777;
}
.villa-details .rooms_loop ul li i{
  color: #777777;
}
.villa-details .rooms_loop ul{
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .villa-details .rooms_loop > .row{
    display: table;
    width: 100%;
  }
  .villa-details .rooms_loop > .row > div{
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .villa-details .rooms_loop ul li {
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
  }
  .villa-details .rooms_loop ul li:last-child {
    margin-right: 0;
  }
}
.rooms_loop p{
  margin: 0; 
}
.show-more{
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.reviews_text p i, .reviews_text p {
    cursor: default;
    margin: 0 0 5px;
    color: #666;
    font-size: 14px;
}
.reviews_text span {
  color: #000;
  font-weight: bold;
}

.tripadvisor.details-review .table>tbody>tr {
  border-bottom: 1px dashed #999;
}
.tripadvisor.details-review .table>tbody>tr>td {
    padding: 10px;
    vertical-align: top;
    border: none;
}
.tripadvisor.details-review .table>tbody>tr>td p{
    margin-bottom: 7px;
    line-height: 1;
}
.tripadvisor.details-review emp {
    color: #000;
}

.hotel-dtls-amenities > div:last-child ul{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.hotel-dtls-amenities h4{
  margin: 0;
}
.hotel-dtls-amenities ul{
    margin-bottom: 15px;
    padding-bottom: 10px;
    list-style: none;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
}
.hotel-dtls-amenities ul li span{
    color: #098f2c;
    line-height: 1;
    margin-right: 4px;
}
.white-box.accordions-content ul li{
    list-style-type: disc;
    margin-left: 20px;
}
.hotel-dtls-amenities ul li {
  padding-bottom: 5px;
  min-width: 33%;
  display: inline-block;
  font-size: 14px;
  color: #333;
  margin-left: 0!important;
}
.grey-box{
    background: #ddd;
    padding: 10px;
    /*margin-top: 10px;*/
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.hotel-policies{
  border: 1px solid #ddd;
  padding: 0 15px;
}
.hotel-policies h6{
    margin: 0;
    line-height: 1.5;
    font-size: 13px;
}
.hotel-policies p{
  margin-bottom: 7px;
}
.hotel-policies p:last-child{
  margin-bottom: 0;
}
.hotel-policies > div{
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.hotel-policies > div:last-child{
  border-bottom: none;
}
.hotel-policies .table{
  margin-bottom: 0;
}
.hotel-policies .table>tbody>tr>td{
  padding:0;
  border: none;
}
.detail-content > div{
  clear: both;
  /*border-bottom: 2px solid #898a8c;*/
}
.detail-content > div > h3{
    margin: 30px 0 10px;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    /*cursor: pointer;*/
}
.detail-content > div > h3 span{
  cursor: pointer;
  color: #c1c1c1;
}
.detail-content > div > h3 small{
  color: #333;
}
.detail-content > div .white-box{
  margin: 0;
  /*padding: 10px;*/
  box-shadow: none;
}
p:empty{
  display: none;
}


.hotel-details-section .ajax-tab ul {
    width: 100%;
    background: #333;
    padding: 5px 10px;
    margin-bottom: 0;
}
.hotel-details-section .ajax-tab ul li {
  padding: 0;
  line-height: 1;
}
.hotel-details-section .ajax-tab ul li a {
    font-size: 16px;
    display: inline-block;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #6b6b6b;
}
.hotel-details-section .ajax-tab ul li a{
  color: #6b6b6b;
  text-decoration: none;
}
.hotel-details-section .ajax-tab ul li a.active {
    color: #fff;
    background-color: #005aaa;
    cursor: default;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
} 
.feature-list ul{
    /* margin: 10px 0; */
    list-style: none;
    width: 100%;
    /* border-bottom: 1px solid #ddd; */
    line-height: 1.2;
    padding: 20px 15px;
    background: #eaeaea;
}
.feature-list ul li{
  padding-bottom: 5px;
  /*min-width: 33%;*/
  display: inline-block;
  margin-right: 25px;
}
.feature-list ul li:last-child{
  margin-right: 0;
}
.feature-btn {
    border: 1px solid #CCC;
    border-radius: 2px;
    background: #FFF;
    padding: 6px;
    /* width: 100%; */
    line-height: 1;
    margin-right: 4px;
    min-width: 32px;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    color: #333;
}
.feature-list ul li.active:hover .feature-btn {
  background: #ff7802;
  /*color: #fff;*/
  border-color: #ff7802;
}
.feature-label {
    font-size: 13px;
    font-weight: normal;
    color: #333;
    margin-top: 5px;
}
.feature-btn span,.feature-btn img{
  font-size: 16px;
}
.feature-list ul li.active{
  opacity: 1
}
.feature-list ul li.inactive{
  opacity: 0.2;
  cursor: default;
}
.feature-list ul li.inactive .feature-label{
  text-decoration: line-through;
}

.awards-table.table>tbody>tr>td{
  border: none;
  vertical-align: middle;
  padding: 5px;
}
.awards-table .feature-btn {
    border: 1px solid #CCC;
    border-radius: 50%;
    background: #FFF;
    padding: 0;
    line-height: 1;
    margin-right: 4px;
    width: 40px;
    height: 40px;
}
.awards-table .feature-btn span {
  color: #666;
}
.awards-table tr:hover .feature-btn, .awards-table tr:hover .feature-btn span{
  background: #5cb85c;
  color: #fff;
  border-color: #5cb85c;
}
.awards-table font {
  text-transform: uppercase;
  color: #5cb85c;
}
.hotel-details-section .review-details > div > div span {
    font-size: 16px;
    color: #5a5a5a;
}
.grey-details {
    background: #cbcbcb42;
    padding: 8px;
}
.hotel-details-section .review-details > div > div {
    padding: 2px 8px;
}
.hotel-details-section .review-details > div > div:first-child {
  padding-left: 0;
}
.review-details > div > div:last-child span{
  color: #fff;
}
.hotel-details-section .review-details > div{
  float: left;
  margin-bottom: 5px;
  /*width: 49%;*/
}
.hotel-details-section .review-details > div:first-child{
  margin-right: 5px
}
.hotel-details-section .accordions-content .review-details > div p{
  font-size: 18px;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 0;
}
/*******************************fixed on scroll*********************************/
.detail-content.fixed{
  /*margin-top: 52px;*/
}
.detail-content > div:first-child > h3{
  margin: 10px 0 10px;
}
.detail-content > div:before { 
  /*display: block; 
  content: " "; 
  margin-top: -45px; 
  height: 45px; 
  visibility: hidden;*/ 
}
.detail-content.fixed > div:before { 
  /*margin-top: 0; 
  height: 0; */
}
.fixed-tab.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
}
.fixed-tab.fixed ul {
  background: #333333;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.hotel-details-section .ajax-tab ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-details {
    padding: 8px 15px;
    margin-bottom: 0;
    background-color: #eaeaea;
    border-radius: 4px;
}
.search-details>li{
    display: inline-block;
    font-size: 16px;
}
.search-details>li+li:before {
    padding: 0 5px;
    content: "";
}
.search-details li a {
    color: #005aaa;
}
.search-details li a:hover,.search-details li a:focus{
  text-decoration: none;
}
.search-details li a u{
  /*font-size: 20px;*/
  margin-left: 5px;
}
.right-sec p{
  color: #333;
}
.htl-review p, .promos p{
  font-size: 14px;
}
.promos h3{
  margin: 0;
  color: #098f2c;
  font-weight: bold;
}
.htl-amenities{
  margin: 0
}
.htl-amenities li{
  list-style: none;
  list-style-type: none;
  display: inline-block;
  width: 49%;
  font-size: 14px;
  line-height: 2.4;
  color: #333;
}
.htl-amenities li i, .htl-amenities li img{
  width: 16px;
  font-size: 16px;
}
.htl-amenities .feature-btn {
  display: inline-block; 
}
ul.htl-amenities li.active:hover .feature-btn {
  background: #ff7802;
  /*color: #fff;*/
  border-color: #ff7802;
}
.rm-rates {
  border: 1px solid #ddd;
}
.rm-rates h3{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #0a85c1;
  margin: 0;
  padding: 8px;
  text-transform: uppercase;
}
.why-us{
  padding: 15px;
  background: #eaeaea;
  font-size: 18px;
}
.why-us h5{
  margin: 0 0 8px;
  font-size: 18px;
}
.why-us ul{
  margin: 0;
}
.why-us ul li{
    display: block;
    line-height: 1.8;
}
.why-us ul li i{
    color: #0a85c1;
    border: 1px solid;
    border-radius: 50px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.blue-btn {
  background: #0a85c1;
  border-color: #0a85c1;
  color: #fff;
}
.blue-btn:hover {
  background: #e34400;
  border-color: #e34400;
  color: #fff;
}

.radius-four{
  border-radius: 4px
}
.radius-two{
  border-radius: 4px
}
.nearby .white-grid, .nearby .result-grid {
    box-shadow: none;
    width: 31%;
    margin-right: initial !important;
    border: 1px solid #c4c4c4;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nearby.grid-view .white-grid:nth-child(3n), .nearby.grid-view .result-grid:nth-child(3n) {
    /*margin-right: 0 !important;*/
}
.nearby .grid-content .result-details h3 {
    font-size: 14px;
}
.nearby .grid-content ul.description {
   margin: 0;
   margin-top: 20px
}
.nearby .grid-content ul.description li {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.nearby hr {
    margin-top: 2px;
    margin-bottom: 2px;
}
.nearby button {
  font-size: 18px;
  font-weight: bold;
}
.rm-rates .price-tag, .rm-rates .price-tag i {
    font-size: 24px;
    font-weight: bold;
}
.details-content{
    /*background: #e9e9e9;*/
    /*padding: 10px;*/
    position: relative;
    /*border-bottom: 1px solid #ddd;*/
    margin-top: 10px;
}


/************************************button toggle*********************************/

.button-toggle {
  cursor: pointer;
  /*margin-bottom: 8px;*/
}
.button-toggle input[type="checkbox"] + label:before,
.button-toggle input[type="radio"] + label:before {
  content: "\2713";
  background-color: transparent;
  border: 0;
  color: white;
  display: none;
  font-size: 12px;
}
.button-toggle input[type="checkbox"] + label:after,
.button-toggle input[type="radio"] + label:after {
    display: inline;
    content: "Select Room";
    position: static;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.6px;
}
.button-toggle input[type="checkbox"] + label,
.button-toggle input[type="radio"] + label {
    font-weight: bold;
    background-color: #005aaa;
    max-width: 60%;
    /* height: 40px; */
    color: white;
    /* display: inline; */
    border-radius: 2px;
    line-height: 1;
    padding: 4px 12px 4px 12px;
    margin: 10px 0 0;
}
.button-toggle input[type="checkbox"]:checked + label,
.button-toggle input[type="radio"]:checked + label {
    background-color: #7db921;
    max-width: 80%;
    padding: 4px 12px 4px 12px;
    margin: 10px 0 0;
}
.button-toggle input[type="checkbox"]:checked + label:before,
.button-toggle input[type="radio"]:checked + label:before {
  display: inline;
  margin-right: 4px;
  position: static;
}
.button-toggle input[type="checkbox"]:checked + label:after,
.button-toggle input[type="radio"]:checked + label:after {
  content: "Selected";
  background-color: transparent;
}
.button-toggle label {
  cursor: pointer;
}
.button-toggle span {
  display: block;
  font-weight: normal;
}
.toggle-select{
  display: none;
}

.tour-details-section .book-tours{
    margin: 6px 30px 5px 0px!important;
    background: #f5f5f5;
    padding: 22px!important;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 45, 85, 0.3);
    box-shadow: 0px 0px 2px rgba(0, 45, 85, 0.3);
}

.tour-details-section .book-tours label, .tour-details-section .book-tours b{
  text-transform: initial !important;
  font-size: 16px;
  color: #444;
  letter-spacing: .5px;
}
.tour-details-section .book-tours label{
  color: #666;
}
.tour-details-section .book-tours .btn {
    /* text-transform: uppercase; */
    letter-spacing: .8px;
    font-size: 16px;
    color: #f5f5f5;
}

.tour-details-section .book-tours .btn-default {
    padding: 10px 15px;
    border-radius: 2px;
    font-weight: bold;
    color: #444;
}
.tour-details-section .book-tours .btn-default:hover {
  background: #f5f5f5;
}
.tour-details-section .book-tours .form-control {
    height: 41px;
    line-height: 41px;
    font-size: 14px;
}
.tour-details-section .book-tours hr {
    border-top: 1px solid #ddd;
}
.tour-details-section .book-tours table{
  margin-bottom: 15px;
}
.tour-details-section .book-tours table tr td{
  border: none;
  padding: 8px 0;
}

.gallary-details{
  margin-top: 30px;
  background: #eaeaea;
}

.gallary-details hr {
    border-top: 1px solid #c7c7c7;
}
.feature-btn {
    border: 1px solid #eaeaea;
    background: #eaeaea;
}
ul.htl-amenities li.active:hover .feature-btn,.feature-list ul li.active:hover .feature-btn {
  background: #c7c7c7;
  border-color: #c7c7c7;
}